//Bulma Preset
$body-background-color: hsl(0, 0%, 96%);

//Base colors
$primary: #87c692;  //green0
$info: #7198a3; //blue0

//Derived colors 3
$success: #4aa259;  //green3
$warning: #d49b60;  //orange3
$danger: #d46960; //pink3

//NavBar
$navbar-height: 2.5rem;
$navbar-item-img-max-height: 2.5rem;
