#admin-menu {
  position: absolute;
  width: 180px;
  height: 120vh;
  background-color: #e4efe6;
  left: -180px;
  overflow-y: scroll;
  transition: left 0.3s ease-in-out;
  z-index: 90;

  &.is-active {
    left:0;
    transition: left 0.3s ease-in-out;
  }

  @include desktop {
    left: 5px;
  }
}

#admin-slide-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.working-area {

  margin: 20px 20px 20px 20px;

  @include desktop {
    margin: 20px 20px 20px 200px;
  }
}


.columns {
  &.responsive-password {
    margin-bottom: 0;
  }
}

.mobile-firendly-table {
  overflow-x: auto;
}

a {
  &.is-info {
    color: $info;
  }
}
