//Base colors
.is-orange0 { color: #ffd5ae; }
.is-pink0 { color: #ffb4ae; }
//Derived colors 1 - Lighter
.is-green1 { color: #e4efe6; }
.is-blue1 { color: #dce4e6; }
.is-orange1 { color: #fff9f3; }
.is-pink1 { color: #fff4f3; }
//Derived colors 2
.is-green2 { color: #b9dcbf; }
.is-blue2 { color: #a8c0c7; }
.is-orange2 { color: #ffead6; }
.is-pink2 { color: #ffd9d6; }
//Derived colors 3
.is-blue3 { color: #3e7484; }
//Derived colors 4 - Darker
.is-green4 { color: #208231; }
.is-blue4 { color: #1d5869; }
.is-orange4 { color: #a96a2a; }
.is-pink4 { color: #a9332a; }

//Additional Colors
.is-muted {  color: $grey-light;  }


//Text in the middle of a horizontal line
.line-text-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $grey-lighter;
  line-height: 0.1em;
  margin: 1rem 0;
  span {
    z-index: 8;
    background-color: $white;
    padding: 0 0.5rem;
  }
}

//hyperlink
a {
  &.is-info {
    color: #7198a3;
  }
}
